@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center" style="background-image: url('https://tuit.uz/logos/tuit_slide_two.jpg'); margin-top: 50px; width:4000px">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://learn.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
